body {
	 font-family: 'Oswald', sans-serif;
	 background-color: #212121;
   height: 100vh;
   background-image: radial-gradient(
      at 0% 33%,
      hsl(23, 100%, 65%),
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(188, 100%, 42%), transparent 55%);
}
.container{
  display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
 